<div class="row bg-info" id="counter">
	<div class="col-md-4">{{this.currentIndex}} / {{length}}</div>
  	<div class="col-md-4 text-center"><span class="glyphicon glyphicon-time"></span><span id="timecounter">00:00</span></div>
  	<div class="col-md-4">
  		<button type="button" id="quickToReport" class="btn btn-link btn-sm">Direkt zur Auswertung</button></div>	
</div>