<h4>{{this.question}}</h4>
<form id="test" role="form">
	<div class="form-group">
	{{#each this.answers}}
		<div class="checkbox">
			<label class="control-label">
				<input class="index{{@index}}" type="checkbox" />{{this.answer}}
			</label>
		</div>
		{{/each}}
	</div>
<button id="prev" type="button" class="btn btn-default {{#if this.isFirst}}disabled{{/if}}">Vorherige Frage</button>
{{#if this.isLast}}
<button id="finish" type="button" class="btn btn-primary">Auswertung</button>
{{else}}
<button id="next" type="button" class="btn btn-primary">Nächste Frage</button>
{{/if}}
	</div>
</form>